<div id="<%= dom_id horse %>">
  <p>
    <strong>Name:</strong>
    <%= horse.name %>
  </p>

  <p>
    <strong>Date of birth:</strong>
    <%= horse.date_of_birth %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= horse.color %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= horse.image %>
  </p>

  <p>
    <strong>User:</strong>
    <%= horse.user_id %>
  </p>

  <p>
    <strong>Stable:</strong>
    <%= horse.stable_id %>
  </p>

</div>
