<p style="color: green"><%= notice %></p>

<%= render @groom %>

<div>
  <%= link_to "Edit this groom", edit_groom_path(@groom) %> |
  <%= link_to "Back to grooms", grooms_path %>

  <%= button_to "Destroy this groom", @groom, method: :delete %>
</div>
